In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
# Additional imports:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [3]:
train_df = pd.read_csv(Path('Resources/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'))

In [6]:
# Convert categorical data to numeric and separate target feature for training data
train_df=pd.get_dummies(train_df)
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12180 entries, 0 to 12179
Data columns (total 94 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   loan_amnt                            12180 non-null  float64
 1   int_rate                             12180 non-null  float64
 2   installment                          12180 non-null  float64
 3   annual_inc                           12180 non-null  float64
 4   dti                                  12180 non-null  float64
 5   delinq_2yrs                          12180 non-null  float64
 6   inq_last_6mths                       12180 non-null  float64
 7   open_acc                             12180 non-null  float64
 8   pub_rec                              12180 non-null  float64
 9   revol_bal                            12180 non-null  float64
 10  total_acc                            12180 non-null  float64
 11  out_prncp                            12180 non-null  float64
 12  out_prncp_inv                        12180 non-null  float64
 13  total_pymnt                          12180 non-null  float64
 14  total_pymnt_inv                      12180 non-null  float64
 15  total_rec_prncp                      12180 non-null  float64
 16  total_rec_int                        12180 non-null  float64
 17  total_rec_late_fee                   12180 non-null  float64
 18  recoveries                           12180 non-null  float64
 19  collection_recovery_fee              12180 non-null  float64
 20  last_pymnt_amnt                      12180 non-null  float64
 21  collections_12_mths_ex_med           12180 non-null  float64
 22  policy_code                          12180 non-null  float64
 23  acc_now_delinq                       12180 non-null  float64
 24  tot_coll_amt                         12180 non-null  float64
 25  tot_cur_bal                          12180 non-null  float64
 26  open_acc_6m                          12180 non-null  float64
 27  open_act_il                          12180 non-null  float64
 28  open_il_12m                          12180 non-null  float64
 29  open_il_24m                          12180 non-null  float64
 30  mths_since_rcnt_il                   12180 non-null  float64
 31  total_bal_il                         12180 non-null  float64
 32  il_util                              12180 non-null  float64
 33  open_rv_12m                          12180 non-null  float64
 34  open_rv_24m                          12180 non-null  float64
 35  max_bal_bc                           12180 non-null  float64
 36  all_util                             12180 non-null  float64
 37  total_rev_hi_lim                     12180 non-null  float64
 38  inq_fi                               12180 non-null  float64
 39  total_cu_tl                          12180 non-null  float64
 40  inq_last_12m                         12180 non-null  float64
 41  acc_open_past_24mths                 12180 non-null  float64
 42  avg_cur_bal                          12180 non-null  float64
 43  bc_open_to_buy                       12180 non-null  float64
 44  bc_util                              12180 non-null  float64
 45  chargeoff_within_12_mths             12180 non-null  float64
 46  delinq_amnt                          12180 non-null  float64
 47  mo_sin_old_il_acct                   12180 non-null  float64
 48  mo_sin_old_rev_tl_op                 12180 non-null  float64
 49  mo_sin_rcnt_rev_tl_op                12180 non-null  float64
 50  mo_sin_rcnt_tl                       12180 non-null  float64
 51  mort_acc                             12180 non-null  float64
 52  mths_since_recent_bc                 12180 non-null  float64
 53  mths_since_recent_inq                12180 non-null  float64
 54  num_accts_ever_120_pd                12180 non-null  float64
 55  num_actv_bc_tl                       12180 non-null  float64
 56  num_actv_rev_tl                      12180 non-null  float64
 57  num_bc_sats                          12180 non-null  float64
 58  num_bc_tl                            12180 non-null  float64
 59  num_il_tl                            12180 non-null  float64
 60  num_op_rev_tl                        12180 non-null  float64
 61  num_rev_accts                        12180 non-null  float64
 62  num_rev_tl_bal_gt_0                  12180 non-null  float64
 63  num_sats                             12180 non-null  float64
 64  num_tl_120dpd_2m                     12180 non-null  float64
 65  num_tl_30dpd                         12180 non-null  float64
 66  num_tl_90g_dpd_24m                   12180 non-null  float64
 67  num_tl_op_past_12m                   12180 non-null  float64
 68  pct_tl_nvr_dlq                       12180 non-null  float64
 69  percent_bc_gt_75                     12180 non-null  float64
 70  pub_rec_bankruptcies                 12180 non-null  float64
 71  tax_liens                            12180 non-null  float64
 72  tot_hi_cred_lim                      12180 non-null  float64
 73  total_bal_ex_mort                    12180 non-null  float64
 74  total_bc_limit                       12180 non-null  float64
 75  total_il_high_credit_limit           12180 non-null  float64
 76  home_ownership_ANY                   12180 non-null  uint8
 77  home_ownership_MORTGAGE              12180 non-null  uint8
 78  home_ownership_OWN                   12180 non-null  uint8
 79  home_ownership_RENT                  12180 non-null  uint8
 80  verification_status_Not Verified     12180 non-null  uint8
 81  verification_status_Source Verified  12180 non-null  uint8
 82  verification_status_Verified         12180 non-null  uint8
 83  pymnt_plan_n                         12180 non-null  uint8
 84  initial_list_status_f                12180 non-null  uint8
 85  initial_list_status_w                12180 non-null  uint8
 86  application_type_Individual          12180 non-null  uint8
 87  application_type_Joint App           12180 non-null  uint8
 88  hardship_flag_N                      12180 non-null  uint8
 89  hardship_flag_Y                      12180 non-null  uint8
 90  debt_settlement_flag_N               12180 non-null  uint8
 91  debt_settlement_flag_Y               12180 non-null  uint8
 92  target_high_risk                     12180 non-null  uint8
 93  target_low_risk                      12180 non-null  uint8
dtypes: float64(76), uint8(18)
memory usage: 7.3 MB

In [7]:
# Convert categorical data to numeric and separate target feature for testing data
test_df=pd.get_dummies(test_df)
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4702 entries, 0 to 4701
Data columns (total 93 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   loan_amnt                            4702 non-null   float64
 1   int_rate                             4702 non-null   float64
 2   installment                          4702 non-null   float64
 3   annual_inc                           4702 non-null   float64
 4   dti                                  4702 non-null   float64
 5   delinq_2yrs                          4702 non-null   float64
 6   inq_last_6mths                       4702 non-null   float64
 7   open_acc                             4702 non-null   float64
 8   pub_rec                              4702 non-null   float64
 9   revol_bal                            4702 non-null   float64
 10  total_acc                            4702 non-null   float64
 11  out_prncp                            4702 non-null   float64
 12  out_prncp_inv                        4702 non-null   float64
 13  total_pymnt                          4702 non-null   float64
 14  total_pymnt_inv                      4702 non-null   float64
 15  total_rec_prncp                      4702 non-null   float64
 16  total_rec_int                        4702 non-null   float64
 17  total_rec_late_fee                   4702 non-null   float64
 18  recoveries                           4702 non-null   float64
 19  collection_recovery_fee              4702 non-null   float64
 20  last_pymnt_amnt                      4702 non-null   float64
 21  collections_12_mths_ex_med           4702 non-null   float64
 22  policy_code                          4702 non-null   float64
 23  acc_now_delinq                       4702 non-null   float64
 24  tot_coll_amt                         4702 non-null   float64
 25  tot_cur_bal                          4702 non-null   float64
 26  open_acc_6m                          4702 non-null   float64
 27  open_act_il                          4702 non-null   float64
 28  open_il_12m                          4702 non-null   float64
 29  open_il_24m                          4702 non-null   float64
 30  mths_since_rcnt_il                   4702 non-null   float64
 31  total_bal_il                         4702 non-null   float64
 32  il_util                              4702 non-null   float64
 33  open_rv_12m                          4702 non-null   float64
 34  open_rv_24m                          4702 non-null   float64
 35  max_bal_bc                           4702 non-null   float64
 36  all_util                             4702 non-null   float64
 37  total_rev_hi_lim                     4702 non-null   float64
 38  inq_fi                               4702 non-null   float64
 39  total_cu_tl                          4702 non-null   float64
 40  inq_last_12m                         4702 non-null   float64
 41  acc_open_past_24mths                 4702 non-null   float64
 42  avg_cur_bal                          4702 non-null   float64
 43  bc_open_to_buy                       4702 non-null   float64
 44  bc_util                              4702 non-null   float64
 45  chargeoff_within_12_mths             4702 non-null   float64
 46  delinq_amnt                          4702 non-null   float64
 47  mo_sin_old_il_acct                   4702 non-null   float64
 48  mo_sin_old_rev_tl_op                 4702 non-null   float64
 49  mo_sin_rcnt_rev_tl_op                4702 non-null   float64
 50  mo_sin_rcnt_tl                       4702 non-null   float64
 51  mort_acc                             4702 non-null   float64
 52  mths_since_recent_bc                 4702 non-null   float64
 53  mths_since_recent_inq                4702 non-null   float64
 54  num_accts_ever_120_pd                4702 non-null   float64
 55  num_actv_bc_tl                       4702 non-null   float64
 56  num_actv_rev_tl                      4702 non-null   float64
 57  num_bc_sats                          4702 non-null   float64
 58  num_bc_tl                            4702 non-null   float64
 59  num_il_tl                            4702 non-null   float64
 60  num_op_rev_tl                        4702 non-null   float64
 61  num_rev_accts                        4702 non-null   float64
 62  num_rev_tl_bal_gt_0                  4702 non-null   float64
 63  num_sats                             4702 non-null   float64
 64  num_tl_120dpd_2m                     4702 non-null   float64
 65  num_tl_30dpd                         4702 non-null   float64
 66  num_tl_90g_dpd_24m                   4702 non-null   float64
 67  num_tl_op_past_12m                   4702 non-null   float64
 68  pct_tl_nvr_dlq                       4702 non-null   float64
 69  percent_bc_gt_75                     4702 non-null   float64
 70  pub_rec_bankruptcies                 4702 non-null   float64
 71  tax_liens                            4702 non-null   float64
 72  tot_hi_cred_lim                      4702 non-null   float64
 73  total_bal_ex_mort                    4702 non-null   float64
 74  total_bc_limit                       4702 non-null   float64
 75  total_il_high_credit_limit           4702 non-null   float64
 76  home_ownership_ANY                   4702 non-null   uint8
 77  home_ownership_MORTGAGE              4702 non-null   uint8
 78  home_ownership_OWN                   4702 non-null   uint8
 79  home_ownership_RENT                  4702 non-null   uint8
 80  verification_status_Not Verified     4702 non-null   uint8
 81  verification_status_Source Verified  4702 non-null   uint8
 82  verification_status_Verified         4702 non-null   uint8
 83  pymnt_plan_n                         4702 non-null   uint8
 84  initial_list_status_f                4702 non-null   uint8
 85  initial_list_status_w                4702 non-null   uint8
 86  application_type_Individual          4702 non-null   uint8
 87  application_type_Joint App           4702 non-null   uint8
 88  hardship_flag_N                      4702 non-null   uint8
 89  hardship_flag_Y                      4702 non-null   uint8
 90  debt_settlement_flag_N               4702 non-null   uint8
 91  target_high_risk                     4702 non-null   uint8
 92  target_low_risk                      4702 non-null   uint8
dtypes: float64(76), uint8(17)
memory usage: 2.8 MB

In [8]:
# add missing dummy variables to testing set
test_df.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,target_high_risk,target_low_risk
0,40000.0,0.1033,856.40,128700.0,12.47,0.0,1.0,8.0,0.0,38113.0,...,1,0,1,1,0,0,1,1,0,1
1,24450.0,0.1430,572.72,44574.0,15.05,0.0,1.0,6.0,0.0,1665.0,...,1,0,1,1,0,1,0,1,0,1
2,13500.0,0.1430,316.23,60000.0,28.72,0.0,0.0,8.0,0.0,13857.0,...,1,0,1,1,0,0,1,1,0,1
3,10625.0,0.1774,268.31,60000.0,15.70,0.0,4.0,17.0,0.0,6216.0,...,1,0,1,1,0,1,0,1,0,1
4,6375.0,0.1862,232.46,60000.0,35.50,0.0,0.0,13.0,0.0,12681.0,...,1,0,1,1,0,1,0,1,0,1

In [9]:
#Missing Variable
test_df[test_df['debt_settlement_flag_N']==0]

Empty DataFrame
Columns: [loan_amnt, int_rate, installment, annual_inc, dti, delinq_2yrs, inq_last_6mths, open_acc, pub_rec, revol_bal, total_acc, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_amnt, collections_12_mths_ex_med, policy_code, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_act_il, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_inq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, num_tl_30dpd, num_tl_90g_dpd_24m, num_tl_op_past_12m, pct_tl_nvr_dlq, percent_bc_gt_75, pub_rec_bankruptcies, tax_liens, tot_hi_cred_lim, total_bal_ex_mort, total_bc_limit, total_il_high_credit_limit, home_ownership_ANY, home_ownership_MORTGAGE, home_ownership_OWN, home_ownership_RENT, verification_status_Not Verified, verification_status_Source Verified, verification_status_Verified, pymnt_plan_n, initial_list_status_f, initial_list_status_w, application_type_Individual, application_type_Joint App, hardship_flag_N, hardship_flag_Y, debt_settlement_flag_N, target_high_risk, target_low_risk]
Index: []

[0 rows x 93 columns]

In [10]:
train_df = pd.read_csv(Path('Resources/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'))

In [11]:
# Convert categorical data to numeric and separate target feature for training data
X_train = train_df.drop(['target'], axis=1)
X_train = pd.get_dummies(X_train)
y_train = LabelEncoder().fit_transform(train_df['target'])
y_train

array([1, 1, 1, ..., 0, 0, 0])

In [12]:
# Convert categorical data to numeric and separate target feature for testing data
X_test = test_df.drop(['target'], axis=1)
X_test = pd.get_dummies(X_test)
y_test = LabelEncoder().fit_transform(test_df['target'])
y_test

array([1, 1, 1, ..., 0, 0, 0])

In [13]:
# add missing dummy variables to testing set
X_test['debt_settlement_flag_Y']=0
X_test.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,40000.0,0.1033,856.40,128700.0,12.47,0.0,1.0,8.0,0.0,38113.0,...,0,1,0,1,1,0,0,1,1,0
1,24450.0,0.1430,572.72,44574.0,15.05,0.0,1.0,6.0,0.0,1665.0,...,0,1,0,1,1,0,1,0,1,0
2,13500.0,0.1430,316.23,60000.0,28.72,0.0,0.0,8.0,0.0,13857.0,...,0,1,0,1,1,0,0,1,1,0
3,10625.0,0.1774,268.31,60000.0,15.70,0.0,4.0,17.0,0.0,6216.0,...,1,1,0,1,1,0,1,0,1,0
4,6375.0,0.1862,232.46,60000.0,35.50,0.0,0.0,13.0,0.0,12681.0,...,0,1,0,1,1,0,1,0,1,0

In [14]:
# Train the Logistic Regression model on the unscaled data and print the model score
classifier = LogisticRegression(max_iter=15000)
classifier.fit(X_train, y_train)
print(f"Training Data Score: {classifier.score(X_train, y_train):.3f}")
print(f"Testing Data Score: {classifier.score(X_test, y_test):.3f}")

Training Data Score: 0.706
Testing Data Score: 0.559

In [15]:
# Train a Random Forest Classifier model and print the model score
clf = RandomForestClassifier(random_state=1, n_estimators=50).fit(X_train, y_train)
print(f'Training Score: {clf.score(X_train, y_train):.3f}')
print(f'Testing Score: {clf.score(X_test, y_test):.3f}')

Training Score: 1.000
Testing Score: 0.621

In [16]:
# Scale the data
scaler = StandardScaler().fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [17]:
# Train the Logistic Regression model on the scaled data and print the model score
classifier = LogisticRegression(max_iter=15000)
classifier.fit(X_train_scaled, y_train)
print(f"Training Data Score: {classifier.score(X_train_scaled, y_train):.3f}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test):.3f}")

Training Data Score: 0.711
Testing Data Score: 0.760

In [ ]:
# Train a Random Forest Classifier model on the scaled data and print the model score
clf = RandomForestClassifier(random_state=1, n_estimators=50).fit(X_train_scaled, y_train)
print(f'Training Score: {clf.score(X_train_scaled, y_train):.3f}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test):.3f}')